<!-- Pagination links -->
<div class="pagination">
         {% if paginator.previous_page %}
         <a href="{{ paginator.previous_page_path }}">
           Previous&nbsp;&lt;
         </a>
         {% endif %}
         {% if paginator.total_pages > 1 %}
         {{ paginator.page }}/{{paginator.total_pages }}
         {% endif %}
         {% if paginator.next_page %}
         <a href="{{ paginator.next_page_path }}">
           &gt;&nbsp;Next
         </a>
         {% endif %}
       </td>
     </tr>
  </table>
</div>
