<!-- Pagination links -->
<div class="pagination">
         {% assign second_last = paginator.total_pages | minus: 1 %} 
		 {% assign last_path = paginator.total_pages | prepend: "/page" %}
	     {% if paginator.total_pages > 2 and paginator.page > 2 %}
		 <a href="{{ '/' | relative_url }}">
           ⏮&nbsp;
         </a>
		 {% endif %}
         {% if paginator.previous_page %}
		 <a href="{{ paginator.previous_page_path | relative_url}}">
           ◀&nbsp;
         </a>
         {% endif %}
         {% if paginator.total_pages > 1 %}
         {{ paginator.page }}/{{paginator.total_pages }}
         {% endif %}
         {% if paginator.next_page %}
		 <a href="{{ paginator.next_page_path | relative_url }}">
           &nbsp;▶
         </a>
         {% endif %}
         {% if paginator.total_pages > 2 and paginator.page < second_last %}
		 <a href="{{ last_path | relative_url }}">
			 &nbsp;⏭
         </a>
         {% endif %}
       </td>
     </tr>
  </table>
</div>
