<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

<style>
	.nav_tbl {
		border-style: none;
		border-width: 0pt;
		width: 100%;
	}
	.nav_left {
		text-align: left;
	}
	.nav_center {
		text-align: center;
	}
	.nav_right {
		text-align: right;
	}
</style>
{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
	  <section id="nav_bar" class="inner">
		  <table class="nav_tbl">
			  <tr>
				<td class="nav_left">
					{% if page.next %}
					<a href="{{ page.previous.url | relative_url }}">
						{{ page.previous.title }}
					</a>
					&#x21E6;
					{% endif %}
				</td>
				<td class="nav_center">
					<a href="{{ site.url | relative_url }}">
						Home
					</a>
				</td>
				<td class="nav_right">
					{% if page.previous %}
					&#x21E8;
					<a href="{{ page.nest.url | relative_url }}">
						{{ page.next.title }}
					</a>
					{% endif %}
				</td>
			</tr>
		  </table>
	  </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
